<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {

        }

        .box {
            background-color: maroon;
            height: 60px;
            width: 100%;
            top: 100px;
        }

        nav {

            padding-top: 5px;
        }

        #SearchBar {
            position: absolute;
            height: 50px;
            width: 300px;
            right: 42%;
            text-align: center;

        }

        .profile {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 90%;
            border-radius: 20px;
            text-align: center;
            background-color: maroon;
        }

        .Logout {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 10%;
            border-radius: 20px;
            text-align: center;
            background-color: maroon;
        }

        #Search {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 38%;
            border-radius: 10px;
            text-align: center;
            background-color: maroon;
            color: white;
            transition: background-color 0.1s, color 0.1s

        }

        #Submit {
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 10px;
            text-align: center;
            background-color: maroon;
            color: white;
            transition: background-color 0.1s, color 0.1s

        }

        #SubTag {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 10%;
            top: 70%;
            border-radius: 10px;
            text-align: center;
            background-color: maroon;
            color: white;
            transition: background-color 0.1s, color 0.1s

        }

        #Search:hover {
            background-color: maroon;
            color: white;
            cursor: pointer;
        }

        h3 {
            right: 42%;
            color: purple;
            position: absolute;
            top: 110%;
        }

        .container {
            position: absolute;
            top: 12%;
            /*background-color: cyan;*/
            height: 680px;
            width: 100%;
            opacity: 1;
        }

        .col-md-3 {
            /*background-color: maroon;*/
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/nivo-slider.css">
    <link rel="stylesheet" type="text/css" href="themes/default/default.css">
</head>
<body>
<div class="box">
    <nav>
        <div class="profile"><a href="profile.html"><img src="../public/images/profile.png"
                                                         class="img-thumbnail img"></a></div>
        <input type="text" id="SearchBar" placeholder="Enter To Search">
        <button id="Search"><img src="../public/images/search.png" class="img-thumbnail img"></button>
        <div class="Logout"><a href="Login1.html"><img src="../public/images/logout.png" class="img-thumbnail img"></a>
        </div>
    </nav>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="list-group">
                <a href="/details/<%= question._id; %>"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><%= question.question %></h5>
                        <h6>#<%= question.tag %></h6>
                        <small><%= question.createdAt %></small>
                    </div>
                </a>
            </div>
            <center>
                <form action="/details/answer" method="post">
                    <div class="form-group">
                        <input type="hidden" name="questionId" value="<%= question._id; %>">
                        <label for="Qbox">Enter Your Answer:</label>
                        <textarea id="Qbox" rows="3" cols="41" name="answer"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </center>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>